.top {
  color: rgb(236, 157, 38);
  font-family: FreeMono, monospace;
}

.paragraph{
  color:bisque;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.image {
  width:25%;
  padding-left:5%;
}