* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.titleindex {
  color: rgb(114,137,218);
  font-family: "Boldonse", system-ui;
  text-align: center;
  text-shadow: 0px 10px 4px rgba(0, 0, 0, 0.5);
}
.titleabout {
  color: rgb(114,137,218);
  font-family: "Boldonse", system-ui;
  text-align: center;
  text-shadow: 0px 10px 4px rgba(0, 0, 0, 0.5);
}
.titleprojects {
  color: rgb(86, 223, 111);
  font-family: "Boldonse", system-ui;
  text-align: center;
  text-shadow: 0px 10px 4px rgba(0, 0, 0, 0.5);
}
.titlecontact {
  color: rgb(114,137,218);
  font-family: "Boldonse", system-ui;
  text-align: center;
  text-shadow: 0px 10px 4px rgba(0, 0, 0, 0.5);
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 2%;
}

.navbar activebarindex {
  color: rgb(114,137,218);
}
.navbar activebarabout {
  color: rgb(114,137,218);
}
.navbar activebarprojects {
  color: rgb(86, 223, 111);
}
.navbar activebarcontact {
  color: rgb(216, 95, 95);
}
.navbar inactivebar{
  color:grey;
}

.navbar a {
  color: white;
  text-decoration: none;
  text-align: center;
  margin-top: 10px;
  padding: 10px 15px;
  border-radius: 15px;
  transition: background-color 0.5s ease;
  background-color: transparent;
}

.navbar a:hover {
  background-color: hsl(0, 0%, 10%);
}

.paragraph-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2%;
}

.imageleft {
  width: 25%;
  margin-right: 0%;
  border-radius: 5%;
  border: 3px solid rgb(114,137,218);
  box-shadow: 50px 0px 100px rgba(0, 0, 0, 0.5);
  z-index: +1;

}

.imageright {
  width: 25%;
  margin-left: 0%;
  border-radius: 5%;
  border: 3px solid rgb(114,137,218);
  box-shadow: -50px 0px 100px rgba(0, 0, 0, 0.5);
  z-index: +1;

}

.paragraph-right {
  color: bisque;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 125%;
  max-width: 50%;
  line-height: 175%;
  text-align: center;
  background-color: rgb(55, 78, 163);
  padding-left: 10%;
  padding-right: 2%;
  padding-top:2%;
  padding-bottom:2%;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.paragraph-left {
  color: bisque;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 125%;
  max-width: 50%;
  line-height: 175%;
  text-align: center;
  background-color: rgb(55, 78, 163);
  padding-right: 15%;
  padding-left:2%;
  padding-top:2%;
  padding-bottom:2%;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.image-row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  padding: 0;
  margin: 0;
  margin-top: 10px;
}

.gimg {
  flex: 1;
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.image-container {
  position: relative;
  width: 100vw;
  height: 300px; 
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: auto;
  display: block;
}

.overlay-textCB {
  position: absolute;
  left: 50%;
  top: 275px;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  font-size: 5em;
  font-family: "Boldonse", system-ui;
  text-shadow: 1px 1px 50px rgb(255, 255, 255);
  -webkit-text-stroke: 1px rgb(114,137,218); 
}


.overlay-textPG {
  position: absolute;
  left: 50%;
  top: 775px;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  font-size: 3em;
  font-family: "Boldonse", system-ui;
  text-shadow: 1px 1px 50px rgb(255, 255, 255);
  text-align: center;
  -webkit-text-stroke: 1px rgb(114,137,218); 
}

.image-box {
  flex: 1;
}

.project-paragraph {
  color: bisque;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 125%;
  max-width: 50%;
  line-height: 175%;
  text-align: center;
  margin: 40px auto;
}